<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>connexionPatientController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.connexionPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>espacePatientController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.espacePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexionMedecinController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.connexionMedecinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>espaceMedecinController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.espaceMedecinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexionCliniqueController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.connexionCliniqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>espaceCliniqueController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.espaceCliniqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deconnexionController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.deconnexionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>espaceAdminController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.espaceAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPatientController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.InscriptionPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspaceMedecinHoraireController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.EspaceMedecinHoraireController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspcaeMedecinCreerRDVController</servlet-name>
        <servlet-class>com.crosemont.priserdv.model.controller.EspcaeMedecinCreerRDVController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connexionPatientController</servlet-name>
        <url-pattern>/connexionPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>espacePatientController</servlet-name>
        <url-pattern>/espacePatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionMedecinController</servlet-name>
        <url-pattern>/connexionMedecinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>espaceMedecinController</servlet-name>
        <url-pattern>/espaceMedecinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionCliniqueController</servlet-name>
        <url-pattern>/connexionCliniqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>espaceCliniqueController</servlet-name>
        <url-pattern>/espaceCliniqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deconnexionController</servlet-name>
        <url-pattern>/deconnexionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>espaceAdminController</servlet-name>
        <url-pattern>/espaceAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionPatientController</servlet-name>
        <url-pattern>/InscriptionPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspaceMedecinHoraireController</servlet-name>
        <url-pattern>/EspaceMedecinHoraireController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspcaeMedecinCreerRDVController</servlet-name>
        <url-pattern>/EspcaeMedecinCreerRDVController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
